.headingContainer {
  height: max-content;
  align-self: center;
}

.heading {
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 200;
}

.subHeading {
  margin-bottom: 0;
  font-size: 1.25rem;
}
